{erl_opts, [debug_info]}.

{deps, [{cowboy, {git, "git://github.com/ninenines/cowboy.git", {tag, "1.0.0"}}},
        {jsx, {git, "https://github.com/talentdeficit/jsx.git", {tag, "v2.4.0"}}},
        {gproc, {git, "git://github.com/uwiger/gproc.git", {tag, "v0.2.10"}}},
        {gcm, {git, "https://github.com/pdincau/gcm-erlang.git", {tag, "1.0.0"}}}]}.
