{erl_opts, [debug_info]}.

{deps, [{cowboy, {git, "git://github.com/ninenines/cowboy.git", {tag, "1.0.0"}}},
        {jsx, {git, "https://github.com/talentdeficit/jsx.git", {tag, "v2.4.0"}}},
        {gproc, {git, "git://github.com/uwiger/gproc.git", {tag, "v0.2.10"}}},
        {eredis, {git, "https://github.com/wooga/eredis.git", {ref, "3c9dfc5cf4e2cd79276b138692d63d3b1d298a52"}}},
        {gcm, {git, "https://github.com/pdincau/gcm-erlang.git", {tag, "1.0.0"}}}]}.

{relx, [{release, {gcm_api, "0.1.0"}, [gcm_api]},
        {dev_mode, true},
        {include_erts, true},
        {extended_start_script, true}]}.
